flow.json
[
    {
        "id": "0422238f0ca23b6d",
        "type": "tab",
        "label": "garage api",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "87374f11104ba721",
        "type": "tab",
        "label": "ship api",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9907ef4cc8e9284f",
        "type": "tab",
        "label": "ship torreador",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1e6237a0820933f",
        "type": "tab",
        "label": "panama canal pictures",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3246d1478bd44dda",
        "type": "junction",
        "z": "0422238f0ca23b6d",
        "x": 400,
        "y": 520,
        "wires": [
            [
                "136e2428e30e8ead"
            ]
        ]
    },
    {
        "id": "a1e6931482597790",
        "type": "junction",
        "z": "0422238f0ca23b6d",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "e04c0938181db7d3"
            ]
        ]
    },
    {
        "id": "3039727f7b81f0f6",
        "type": "junction",
        "z": "87374f11104ba721",
        "x": 380,
        "y": 440,
        "wires": [
            [
                "d8b7d450e40b9a16"
            ]
        ]
    },
    {
        "id": "c0afcda634ac33f9",
        "type": "junction",
        "z": "b1e6237a0820933f",
        "d": true,
        "x": 1357,
        "y": 442,
        "wires": [
            [
                "5d765964d3d2e51d"
            ]
        ]
    },
    {
        "id": "fcefd17e94a496bd",
        "type": "twilio-api",
        "name": "",
        "sid": "ACc84509b45724cc978afb4833aeb06641",
        "from": "+18018054910"
    },
    {
        "id": "60894ea5c1ca77b1",
        "type": "car-bmw",
        "name": "collins cochran",
        "region": "1",
        "unit": "imperial",
        "debug": false
    },
    {
        "id": "c835a499732ca322",
        "type": "ftp",
        "host": "10.60.100.36",
        "port": "",
        "secureOptions": "",
        "user": "bmw-ship",
        "connTimeout": "",
        "pasvTimeout": "",
        "keepalive": ""
    },
    {
        "id": "5ba4648f.e37f3c",
        "type": "template",
        "z": "0422238f0ca23b6d",
        "name": "login credentials and user ID",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "client_id=b175da89-bcb4-4e85-aa88-b2b99e9b319f&response_type=code&scope=authenticate_user&redirect_uri=https%3A%2F%2Fmybmw.bmwusa.com%2Fsso&state=%2Fterms%2Faccept%3Flanguage%3Den%3F&nonce=&username={{{auth.username}}}&password={{{auth.password}}}&grant_type=authorization_code",
        "output": "str",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "b6e2ac00.435b68"
            ]
        ]
    },
    {
        "id": "b6e2ac00.435b68",
        "type": "http request",
        "z": "0422238f0ca23b6d",
        "name": "authenticate",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://login.bmwusa.com/gcdm/oauth/authenticate",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Accept",
                "valueType": "other",
                "valueValue": "application/json, text/plain, */*"
            },
            {
                "keyType": "other",
                "keyValue": "Origin",
                "valueType": "other",
                "valueValue": "https://login.bmwusa.com"
            },
            {
                "keyType": "other",
                "keyValue": "Referer",
                "valueType": "other",
                "valueValue": "https://login.bmwusa.com/"
            },
            {
                "keyType": "other",
                "keyValue": "Accept-Encoding",
                "valueType": "other",
                "valueValue": "deflate, gzip"
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            }
        ],
        "x": 710,
        "y": 200,
        "wires": [
            [
                "e35944a8e4ac7276"
            ]
        ]
    },
    {
        "id": "e35944a8e4ac7276",
        "type": "change",
        "z": "0422238f0ca23b6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "responseCookies.GCDMSSO.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 200,
        "wires": [
            [
                "89e1d9037d0ac356"
            ]
        ]
    },
    {
        "id": "89e1d9037d0ac356",
        "type": "split",
        "z": "0422238f0ca23b6d",
        "name": "capture first 27 char of token",
        "splt": "27",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1120,
        "y": 200,
        "wires": [
            [
                "800ce0ed5deaca8b"
            ]
        ]
    },
    {
        "id": "800ce0ed5deaca8b",
        "type": "switch",
        "z": "0422238f0ca23b6d",
        "name": "take only part 0",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1340,
        "y": 200,
        "wires": [
            [
                "88c2cdcdb83537ec"
            ],
            []
        ]
    },
    {
        "id": "15f00a246b66ec31",
        "type": "debug",
        "z": "0422238f0ca23b6d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 200,
        "wires": []
    },
    {
        "id": "88c2cdcdb83537ec",
        "type": "change",
        "z": "0422238f0ca23b6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 200,
        "wires": [
            [
                "15f00a246b66ec31",
                "38d4f7d184f69242"
            ]
        ]
    },
    {
        "id": "9bca935ea828625c",
        "type": "http request",
        "z": "0422238f0ca23b6d",
        "name": "get car info",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://mygarage.bmwusa.com/bin/api/forward?GroupId=4xTBchv6BNXVd2IXymyy3g%3D%3D&targetURL=%2Fmybmw%2Fresources%2Fgarage%2FgetGarageVehiclesByGroupId&gcid=ba9de149-40da-42d0-baed-c5d5d246940e&Brand=BMWAUTO",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Accept",
                "valueType": "other",
                "valueValue": "application/json, text/plain, */*"
            },
            {
                "keyType": "other",
                "keyValue": "Referer",
                "valueType": "other",
                "valueValue": "https://mygarage.bmwusa.com/"
            },
            {
                "keyType": "other",
                "keyValue": "Accept-Encoding",
                "valueType": "other",
                "valueValue": "deflate, gzip"
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "payload"
            }
        ],
        "x": 690,
        "y": 400,
        "wires": [
            [
                "01ad28bb988be421"
            ]
        ]
    },
    {
        "id": "0b99f85cdf14df93",
        "type": "template",
        "z": "0422238f0ca23b6d",
        "name": "build user id and token",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "gcid=ba9de149-40da-42d0-baed-c5d5d246940e,token={{{global.token}}}",
        "output": "str",
        "x": 480,
        "y": 400,
        "wires": [
            [
                "9bca935ea828625c",
                "482799479ce2e7ee"
            ]
        ]
    },
    {
        "id": "a69753afdc12b03c",
        "type": "comment",
        "z": "0422238f0ca23b6d",
        "name": "authenticate and save token",
        "info": "",
        "x": 260,
        "y": 100,
        "wires": []
    },
    {
        "id": "4c1572ab9ff48e3e",
        "type": "comment",
        "z": "0422238f0ca23b6d",
        "name": "get all car data",
        "info": "",
        "x": 220,
        "y": 320,
        "wires": []
    },
    {
        "id": "025d3376fd4614d0",
        "type": "link in",
        "z": "0422238f0ca23b6d",
        "name": "refresh cookie",
        "links": [
            "aa35f1419167d773",
            "9249b04848a8fee2"
        ],
        "x": 165,
        "y": 200,
        "wires": [
            [
                "926f946bb36912a4"
            ]
        ]
    },
    {
        "id": "38d4f7d184f69242",
        "type": "delay",
        "z": "0422238f0ca23b6d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1700,
        "y": 240,
        "wires": [
            [
                "b1d370d262d676ec"
            ]
        ]
    },
    {
        "id": "5d79b84b4b829922",
        "type": "link in",
        "z": "0422238f0ca23b6d",
        "name": "get build data",
        "links": [
            "b1d370d262d676ec",
            "f693ddf71ca339d8",
            "3eca2190390597e8"
        ],
        "x": 145,
        "y": 400,
        "wires": [
            [
                "e24d6729578e19a7"
            ]
        ]
    },
    {
        "id": "b1d370d262d676ec",
        "type": "link out",
        "z": "0422238f0ca23b6d",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "5d79b84b4b829922"
        ],
        "x": 1845,
        "y": 240,
        "wires": []
    },
    {
        "id": "01ad28bb988be421",
        "type": "switch",
        "z": "0422238f0ca23b6d",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 400,
        "wires": [
            [
                "aa35f1419167d773",
                "482799479ce2e7ee"
            ],
            [
                "46c69f1a16c40286",
                "e04c0938181db7d3",
                "482799479ce2e7ee"
            ]
        ]
    },
    {
        "id": "aa35f1419167d773",
        "type": "link out",
        "z": "0422238f0ca23b6d",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "025d3376fd4614d0"
        ],
        "x": 945,
        "y": 380,
        "wires": []
    },
    {
        "id": "46c69f1a16c40286",
        "type": "change",
        "z": "0422238f0ca23b6d",
        "name": "save all car data",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "global",
                "to": "payload.dataContent",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "statusnew",
                "pt": "global",
                "to": "payload.dataContent.ProdVehicleDetails[0].orderStatusCode",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 420,
        "wires": [
            [
                "136e2428e30e8ead"
            ]
        ]
    },
    {
        "id": "d9740f57ee135009",
        "type": "http in",
        "z": "0422238f0ca23b6d",
        "name": "",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "09b7ed9a5370e1fd"
            ]
        ]
    },
    {
        "id": "209406fb133f60e7",
        "type": "http response",
        "z": "0422238f0ca23b6d",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "09b7ed9a5370e1fd",
        "type": "template",
        "z": "0422238f0ca23b6d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "nice try",
        "output": "str",
        "x": 380,
        "y": 640,
        "wires": [
            [
                "209406fb133f60e7"
            ]
        ]
    },
    {
        "id": "aa84608d055612ac",
        "type": "comment",
        "z": "0422238f0ca23b6d",
        "name": "serves a blank page at the index",
        "info": "",
        "x": 270,
        "y": 600,
        "wires": []
    },
    {
        "id": "89bca3b9a612e8d7",
        "type": "http response",
        "z": "0422238f0ca23b6d",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1240,
        "y": 760,
        "wires": []
    },
    {
        "id": "14493dcd4d60b385",
        "type": "comment",
        "z": "0422238f0ca23b6d",
        "name": "reply to api requests v2",
        "info": "",
        "x": 240,
        "y": 720,
        "wires": []
    },
    {
        "id": "b010089464e8acea",
        "type": "link in",
        "z": "0422238f0ca23b6d",
        "name": "api response",
        "links": [
            "136e2428e30e8ead"
        ],
        "x": 765,
        "y": 760,
        "wires": [
            [
                "a0c12d8c3a1ae425"
            ]
        ]
    },
    {
        "id": "136e2428e30e8ead",
        "type": "link out",
        "z": "0422238f0ca23b6d",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "b010089464e8acea"
        ],
        "x": 1255,
        "y": 520,
        "wires": []
    },
    {
        "id": "a0c12d8c3a1ae425",
        "type": "change",
        "z": "0422238f0ca23b6d",
        "name": "move global obj to paload",
        "rules": [
            {
                "t": "set",
                "p": "overHeadMessage",
                "pt": "msg",
                "to": "data.ProdVehicleDetails[0].overHeadMessage",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "orderStatusCode",
                "pt": "msg",
                "to": "data.ProdVehicleDetails[0].orderStatusCode",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "vin",
                "pt": "msg",
                "to": "data.ProdVehicleDetails[0].vin",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "overHeadLongMessage",
                "pt": "msg",
                "to": "data.ProdVehicleDetails[0].overHeadLongMessage",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "updated",
                "pt": "msg",
                "to": "data.aemServerTime",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "description",
                "pt": "msg",
                "to": "data.ProdVehicleDetails[0].longDesc",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 760,
        "wires": [
            [
                "798e646ad185425a"
            ]
        ]
    },
    {
        "id": "798e646ad185425a",
        "type": "template",
        "z": "0422238f0ca23b6d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{description}}: {{overHeadMessage}} (Order status code: {{orderStatusCode}}, VIN: {{vin}}) Last update was {{global.lastUpdate}} - {{global.data.aemServerTime}}.",
        "output": "str",
        "x": 1100,
        "y": 760,
        "wires": [
            [
                "89bca3b9a612e8d7"
            ]
        ]
    },
    {
        "id": "e24d6729578e19a7",
        "type": "delay",
        "z": "0422238f0ca23b6d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "100",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "0b99f85cdf14df93"
            ],
            [
                "3246d1478bd44dda",
                "a1e6931482597790"
            ]
        ]
    },
    {
        "id": "eb3832bf0d18d309",
        "type": "change",
        "z": "0422238f0ca23b6d",
        "name": "save updated time",
        "rules": [
            {
                "t": "set",
                "p": "lastUpdate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e04c0938181db7d3",
        "type": "moment",
        "z": "0422238f0ca23b6d",
        "name": "",
        "topic": "",
        "input": "data.aemServerTime",
        "inputType": "global",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "fromNow",
        "locale": "en-US",
        "output": "",
        "outputType": "msg",
        "outTz": "America/Denver",
        "x": 820,
        "y": 460,
        "wires": [
            [
                "eb3832bf0d18d309"
            ]
        ]
    },
    {
        "id": "d2c50d291513c78b",
        "type": "inject",
        "z": "0422238f0ca23b6d",
        "name": "refresh data manually",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 360,
        "wires": [
            [
                "0b99f85cdf14df93"
            ]
        ]
    },
    {
        "id": "c30fde96be5e2c3a",
        "type": "http in",
        "z": "0422238f0ca23b6d",
        "name": "",
        "url": "/api/2",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 760,
        "wires": [
            [
                "e0746e47f69dee42"
            ]
        ]
    },
    {
        "id": "3eca2190390597e8",
        "type": "link out",
        "z": "0422238f0ca23b6d",
        "name": "api v2",
        "mode": "link",
        "links": [
            "5d79b84b4b829922"
        ],
        "x": 495,
        "y": 760,
        "wires": []
    },
    {
        "id": "ce47aae716da955d",
        "type": "inject",
        "z": "0422238f0ca23b6d",
        "name": "refresh token manually",
        "props": [
            {
                "p": "auth.username",
                "v": "collins@collinscochran.com",
                "vt": "str"
            },
            {
                "p": "auth.password",
                "v": "Shotdesk24",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 160,
        "wires": [
            [
                "5ba4648f.e37f3c"
            ]
        ]
    },
    {
        "id": "e0746e47f69dee42",
        "type": "change",
        "z": "0422238f0ca23b6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "auth.username",
                "pt": "global",
                "to": "payload.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "auth.password",
                "pt": "global",
                "to": "payload.password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 760,
        "wires": [
            [
                "3eca2190390597e8"
            ]
        ]
    },
    {
        "id": "926f946bb36912a4",
        "type": "change",
        "z": "0422238f0ca23b6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "auth.username",
                "pt": "msg",
                "to": "auth.username",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "auth.password",
                "pt": "msg",
                "to": "auth.password",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "5ba4648f.e37f3c"
            ]
        ]
    },
    {
        "id": "482799479ce2e7ee",
        "type": "debug",
        "z": "0422238f0ca23b6d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "267ef90c7c208440",
        "type": "inject",
        "z": "87374f11104ba721",
        "name": "refresh ship data from vesslefinder",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Joe\", \"lat\":51, \"lon\":-1.05}",
        "payloadType": "str",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "315bc76d49b93952"
            ]
        ]
    },
    {
        "id": "a10c73268bfaaa3e",
        "type": "http request",
        "z": "87374f11104ba721",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://myshiptracking.com/requests/vesseldetailsTEST.php?type=json&mmsi=432624000&return=json&lang=",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "c29f37089f0af26c"
            ]
        ]
    },
    {
        "id": "5bc32c9ad72ea42f",
        "type": "json",
        "z": "87374f11104ba721",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "5ec3e53df5a67e18"
            ]
        ]
    },
    {
        "id": "c58347b4f88ef390",
        "type": "worldmap",
        "z": "87374f11104ba721",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "EsriT",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "true",
        "allowFileDrop": "false",
        "path": "/tracker",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "5ec3e53df5a67e18",
        "type": "template",
        "z": "87374f11104ba721",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"name\":\"the car\", \"lat\":{{payload.F.LAT}}, \"lon\":{{payload.F.LNG}}, \"icon\":\"fa-car\", \"heading\":\"{{payload.cval-cog.V}}\", \"speed\":\"{{payload.cval-sog.V}}\"}",
        "output": "json",
        "x": 640,
        "y": 180,
        "wires": [
            [
                "c58347b4f88ef390"
            ]
        ]
    },
    {
        "id": "e22120a0b6523739",
        "type": "template",
        "z": "87374f11104ba721",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/pin-s+555555({{payload.F.LNG}},{{payload.F.LAT}})/{{payload.F.LNG}},{{payload.F.LAT}},4,0/600x600?access_token=pk.eyJ1IjoiY29sbGluc2NvY2hyYW4iLCJhIjoiY2xkdGM2cHNuMGhibzNvcGVpdTdtOXhidCJ9.u_JkCmDXw-PzGCXv9RoolA",
        "output": "str",
        "x": 780,
        "y": 400,
        "wires": [
            [
                "e4aed7ccd05d5902",
                "fd77309a62439840"
            ]
        ]
    },
    {
        "id": "e4aed7ccd05d5902",
        "type": "http request",
        "z": "87374f11104ba721",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 400,
        "wires": [
            [
                "7ebeaa5b5835a3bf"
            ]
        ]
    },
    {
        "id": "4049217c3f54aab8",
        "type": "file",
        "z": "87374f11104ba721",
        "name": "",
        "filename": "ship.png",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1860,
        "y": 400,
        "wires": [
            [
                "f55b195a1a840cb1",
                "1874cc70b68d1a92"
            ]
        ]
    },
    {
        "id": "14332db59f62538b",
        "type": "inject",
        "z": "87374f11104ba721",
        "name": "manually preview image",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "bcae1ab2f3846ab1"
            ]
        ]
    },
    {
        "id": "bcae1ab2f3846ab1",
        "type": "file in",
        "z": "87374f11104ba721",
        "name": "",
        "filename": "ship.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 540,
        "wires": [
            [
                "c036a1a44b9e6446"
            ]
        ]
    },
    {
        "id": "a8f01c0cb29104ad",
        "type": "http in",
        "z": "87374f11104ba721",
        "name": "",
        "url": "/ship",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "e5e4f55da724b180"
            ]
        ]
    },
    {
        "id": "c29f37089f0af26c",
        "type": "change",
        "z": "87374f11104ba721",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "vessle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1f3ac827109b5030",
        "type": "inject",
        "z": "87374f11104ba721",
        "name": "update map",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "vessle",
        "payloadType": "global",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "e97f0346bf3ad5d8"
            ]
        ]
    },
    {
        "id": "8792818ad02301e3",
        "type": "json",
        "z": "87374f11104ba721",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 400,
        "wires": [
            [
                "e22120a0b6523739"
            ]
        ]
    },
    {
        "id": "e97f0346bf3ad5d8",
        "type": "change",
        "z": "87374f11104ba721",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "vessle",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "5bc32c9ad72ea42f"
            ]
        ]
    },
    {
        "id": "315bc76d49b93952",
        "type": "switch",
        "z": "87374f11104ba721",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "The page cannot be displayed because an internal server error has occurred.",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 120,
        "wires": [
            [],
            [
                "a10c73268bfaaa3e",
                "1929e6be9ddf0e60"
            ]
        ]
    },
    {
        "id": "c036a1a44b9e6446",
        "type": "image viewer",
        "z": "87374f11104ba721",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 510,
        "y": 540,
        "wires": [
            [
                "6c44befe0329958c"
            ]
        ]
    },
    {
        "id": "6c44befe0329958c",
        "type": "http response",
        "z": "87374f11104ba721",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "image/png"
        },
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "68d8d16ca595c7c2",
        "type": "delay",
        "z": "87374f11104ba721",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "ebdee78e57a509de"
            ],
            [
                "3039727f7b81f0f6"
            ]
        ]
    },
    {
        "id": "b8b77b2577640ca4",
        "type": "link in",
        "z": "87374f11104ba721",
        "name": "get new location image",
        "links": [
            "e5e4f55da724b180"
        ],
        "x": 125,
        "y": 400,
        "wires": [
            [
                "68d8d16ca595c7c2"
            ]
        ]
    },
    {
        "id": "1b8dd0622a15b4e3",
        "type": "inject",
        "z": "87374f11104ba721",
        "name": "refresh data manually",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "ebdee78e57a509de"
            ]
        ]
    },
    {
        "id": "d8b7d450e40b9a16",
        "type": "link out",
        "z": "87374f11104ba721",
        "name": "reply to http request for image",
        "mode": "link",
        "links": [
            "c006bf0086e368c3"
        ],
        "x": 2165,
        "y": 440,
        "wires": []
    },
    {
        "id": "ebdee78e57a509de",
        "type": "change",
        "z": "87374f11104ba721",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "vessle",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "8792818ad02301e3"
            ]
        ]
    },
    {
        "id": "e5e4f55da724b180",
        "type": "link out",
        "z": "87374f11104ba721",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "b8b77b2577640ca4"
        ],
        "x": 265,
        "y": 280,
        "wires": []
    },
    {
        "id": "c006bf0086e368c3",
        "type": "link in",
        "z": "87374f11104ba721",
        "name": "http send",
        "links": [
            "d8b7d450e40b9a16"
        ],
        "x": 145,
        "y": 540,
        "wires": [
            [
                "bcae1ab2f3846ab1"
            ]
        ]
    },
    {
        "id": "b2e31c76ca2d351e",
        "type": "jimp-image",
        "z": "87374f11104ba721",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "FONT_SANS_16_BLACK",
        "parameter1Type": "jimpFont",
        "parameter2": "1",
        "parameter2Type": "num",
        "parameter3": "530",
        "parameter3Type": "num",
        "parameter4": "text",
        "parameter4Type": "msg",
        "parameter5": "600",
        "parameter5Type": "num",
        "parameter6": "600",
        "parameter6Type": "num",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 6,
        "jimpFunction": "print",
        "selectedJimpFunction": {
            "name": "print",
            "fn": "print",
            "description": "Print text to the image",
            "parameters": [
                {
                    "name": "font|str",
                    "type": "jimpFont",
                    "required": true,
                    "hint": "font to print. NOTE: This can be one of the presets or the path to a fnt file"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "x coordinate to print text"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "y coordinate to print text"
                },
                {
                    "name": "text",
                    "type": "str",
                    "required": true,
                    "hint": "text to print"
                },
                {
                    "name": "maxWidth",
                    "type": "num",
                    "required": false,
                    "hint": "wrap text at maxWidth"
                },
                {
                    "name": "maxHeight",
                    "type": "num",
                    "required": false,
                    "hint": "max height"
                }
            ]
        },
        "x": 1710,
        "y": 400,
        "wires": [
            [
                "4049217c3f54aab8"
            ]
        ]
    },
    {
        "id": "f55b195a1a840cb1",
        "type": "image",
        "z": "87374f11104ba721",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": true,
        "outputs": 1,
        "x": 2040,
        "y": 400,
        "wires": [
            [
                "d8b7d450e40b9a16"
            ]
        ]
    },
    {
        "id": "6120805f97ae6d3b",
        "type": "template",
        "z": "87374f11104ba721",
        "name": "",
        "field": "text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Latitude: {{vessle.F.LAT}}, Longitude {{vessle.F.LNG}} - Speed: {{vessle.cval-sog.V}} - Time: {{myrawdate}}",
        "output": "str",
        "x": 1560,
        "y": 400,
        "wires": [
            [
                "b2e31c76ca2d351e"
            ]
        ]
    },
    {
        "id": "7ebeaa5b5835a3bf",
        "type": "change",
        "z": "87374f11104ba721",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "vessle",
                "pt": "msg",
                "to": "vessle",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 400,
        "wires": [
            [
                "fac6c87d5302be75"
            ]
        ]
    },
    {
        "id": "fac6c87d5302be75",
        "type": "json",
        "z": "87374f11104ba721",
        "name": "",
        "property": "vessle",
        "action": "",
        "pretty": false,
        "x": 1250,
        "y": 400,
        "wires": [
            [
                "21ba1f468e4e5532"
            ]
        ]
    },
    {
        "id": "21ba1f468e4e5532",
        "type": "simpletime",
        "z": "87374f11104ba721",
        "name": "",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 1390,
        "y": 400,
        "wires": [
            [
                "6120805f97ae6d3b"
            ]
        ]
    },
    {
        "id": "1929e6be9ddf0e60",
        "type": "debug",
        "z": "87374f11104ba721",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "1874cc70b68d1a92",
        "type": "debug",
        "z": "87374f11104ba721",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd77309a62439840",
        "type": "debug",
        "z": "87374f11104ba721",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "0d8e6f664b8be2ac",
        "type": "switch",
        "z": "9907ef4cc8e9284f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "The page cannot be displayed because an internal server error has occurred.",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 140,
        "wires": [
            [],
            [
                "8662ce881f577eb7"
            ]
        ]
    },
    {
        "id": "d25a157ff75be3f5",
        "type": "http request",
        "z": "9907ef4cc8e9284f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 140,
        "wires": [
            [
                "6fda0e90ab59558d"
            ]
        ]
    },
    {
        "id": "6fda0e90ab59558d",
        "type": "change",
        "z": "9907ef4cc8e9284f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newvessle",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "5e3eca4e4c5e756f"
            ]
        ]
    },
    {
        "id": "d4b06cbcd5b88b91",
        "type": "http in",
        "z": "9907ef4cc8e9284f",
        "name": "",
        "url": "/api/track",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "7dea04834454cd29",
                "aff059d0d14ffb5b"
            ]
        ]
    },
    {
        "id": "5e3eca4e4c5e756f",
        "type": "http response",
        "z": "9907ef4cc8e9284f",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1210,
        "y": 200,
        "wires": []
    },
    {
        "id": "7dea04834454cd29",
        "type": "debug",
        "z": "9907ef4cc8e9284f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 240,
        "wires": []
    },
    {
        "id": "8662ce881f577eb7",
        "type": "template",
        "z": "9907ef4cc8e9284f",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://myshiptracking.com/requests/vesseldetailsTEST.php?type=json&mmsi={{payload}}&return=json&lang=",
        "output": "str",
        "x": 720,
        "y": 140,
        "wires": [
            [
                "d25a157ff75be3f5"
            ]
        ]
    },
    {
        "id": "aff059d0d14ffb5b",
        "type": "change",
        "z": "9907ef4cc8e9284f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.query.mmsi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "0d8e6f664b8be2ac"
            ]
        ]
    },
    {
        "id": "aa17033cd3d1820e",
        "type": "http request",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "3db3aaa8dd60f95f"
            ]
        ]
    },
    {
        "id": "242079e9a7a551c6",
        "type": "file",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "filename": "localFilename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1680,
        "y": 220,
        "wires": [
            [
                "65017c739476eb36"
            ]
        ]
    },
    {
        "id": "65017c739476eb36",
        "type": "image",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": true,
        "outputs": 1,
        "x": 1860,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3118c806b3a2eb7d",
        "type": "inject",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "camName",
                "v": "miraflores",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://webcams.delcanal.com/hd-miraflores.jpg",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "miraflores",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "92cd3aad77bead14"
            ]
        ]
    },
    {
        "id": "3b5eb0d3a47d19a6",
        "type": "simpletime",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 930,
        "y": 200,
        "wires": [
            [
                "bdb778ce6a8c4bb6",
                "caffb959463de92f"
            ]
        ]
    },
    {
        "id": "49e0754ad2c6719e",
        "type": "template",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "local file name",
        "field": "localFilename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "panama/{{camName}}/{{filenameRaw}}",
        "output": "str",
        "x": 1180,
        "y": 220,
        "wires": [
            [
                "242079e9a7a551c6"
            ]
        ]
    },
    {
        "id": "3db3aaa8dd60f95f",
        "type": "switch",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "3b5eb0d3a47d19a6"
            ],
            [
                "aa17033cd3d1820e"
            ]
        ]
    },
    {
        "id": "39e6a6d0d9f9607c",
        "type": "ftp in",
        "z": "b1e6237a0820933f",
        "d": true,
        "ftp": "c835a499732ca322",
        "operation": "put",
        "filename": "",
        "localFilename": "",
        "name": "",
        "x": 1530,
        "y": 260,
        "wires": [
            [
                "ffdc73a703a235ca"
            ]
        ]
    },
    {
        "id": "340928be9714bc34",
        "type": "template",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "remote file name",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/tvs-collins/bmw_panamax/images/{{camName}}/{{filenameRaw}}",
        "output": "str",
        "x": 1370,
        "y": 260,
        "wires": [
            [
                "39e6a6d0d9f9607c"
            ]
        ]
    },
    {
        "id": "ffdc73a703a235ca",
        "type": "debug",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 260,
        "wires": []
    },
    {
        "id": "bdb778ce6a8c4bb6",
        "type": "template",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "raw jpg name",
        "field": "filenameRaw",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{camName}}-{{myepoch}}.jpg",
        "output": "str",
        "x": 960,
        "y": 240,
        "wires": [
            [
                "49e0754ad2c6719e",
                "669721e668712c00"
            ]
        ]
    },
    {
        "id": "669721e668712c00",
        "type": "template",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "local file name",
        "field": "localFilename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "panama/{{camname}}/{{filenameRaw}}",
        "output": "str",
        "x": 1180,
        "y": 260,
        "wires": [
            [
                "340928be9714bc34"
            ]
        ]
    },
    {
        "id": "92cd3aad77bead14",
        "type": "template",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "b5ad65b625fc1903"
            ]
        ]
    },
    {
        "id": "f19191b2fb199cf7",
        "type": "inject",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "camName",
                "v": "pedro-miguel",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://webcams.delcanal.com/cerro-luisa00001.jpg",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pedro-miguel",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "92cd3aad77bead14"
            ]
        ]
    },
    {
        "id": "7dc97ee480136dd5",
        "type": "inject",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "camName",
                "v": "gatun",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://webcams.delcanal.com/gatun00009.jpg",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "gatun",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "92cd3aad77bead14"
            ]
        ]
    },
    {
        "id": "74457151f4922da9",
        "type": "inject",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "camName",
                "v": "cocoli",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://webcams.delcanal.com/cocoli00001.jpg",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cocoli",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "92cd3aad77bead14"
            ]
        ]
    },
    {
        "id": "520a4d3ec204846c",
        "type": "inject",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "camName",
                "v": "agua-clara",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://webcams.delcanal.com/aguaclara00001.jpg",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "agua-clara",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "92cd3aad77bead14"
            ]
        ]
    },
    {
        "id": "b5ad65b625fc1903",
        "type": "delay",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "aa17033cd3d1820e"
            ]
        ]
    },
    {
        "id": "1b96d4649b26fab3",
        "type": "exec",
        "z": "b1e6237a0820933f",
        "d": true,
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1750,
        "y": 500,
        "wires": [
            [
                "af2e675e289619d1",
                "c4c8dd7eb1d08b53"
            ],
            [
                "af2e675e289619d1"
            ],
            [
                "af2e675e289619d1"
            ]
        ]
    },
    {
        "id": "af2e675e289619d1",
        "type": "debug",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1920,
        "y": 500,
        "wires": []
    },
    {
        "id": "bbdcfed686e4e04d",
        "type": "template",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "ffmpeg -framerate 30 -pattern_type glob -i ~/panama/{{camName}}/'*.jpg'   -c:v libx264 -pix_fmt yuv420p ~/panama/{{camName}}/{{camName}}-timelapse-{{myepoch}}.mp4",
        "output": "str",
        "x": 1600,
        "y": 440,
        "wires": [
            [
                "1b96d4649b26fab3",
                "d816d68fb5826789"
            ]
        ]
    },
    {
        "id": "caffb959463de92f",
        "type": "delay",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1570,
        "y": 380,
        "wires": [
            [
                "bbdcfed686e4e04d"
            ]
        ]
    },
    {
        "id": "d816d68fb5826789",
        "type": "debug",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 440,
        "wires": []
    },
    {
        "id": "0f34117ea3b819aa",
        "type": "template",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "local file name",
        "field": "localFilename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "panama/{{camName}}/{{camName}}-timelapse-{{myepoch}}.mp4",
        "output": "str",
        "x": 1860,
        "y": 640,
        "wires": [
            [
                "e59f4b4b741b2029"
            ]
        ]
    },
    {
        "id": "e59f4b4b741b2029",
        "type": "template",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "remote file name",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/tvs-collins/bmw_panamax/videos/{{camName}}-timelapse-{{myepoch}}.mp4",
        "output": "str",
        "x": 2050,
        "y": 640,
        "wires": [
            [
                "0cd2c8517f0e8834"
            ]
        ]
    },
    {
        "id": "0cd2c8517f0e8834",
        "type": "ftp in",
        "z": "b1e6237a0820933f",
        "d": true,
        "ftp": "c835a499732ca322",
        "operation": "put",
        "filename": "",
        "localFilename": "",
        "name": "",
        "x": 2210,
        "y": 640,
        "wires": [
            [
                "8ca69885c08aa2ed",
                "79dadf16a4f23613"
            ]
        ]
    },
    {
        "id": "8ca69885c08aa2ed",
        "type": "debug",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2520,
        "y": 580,
        "wires": []
    },
    {
        "id": "5b48d2faa6e05b37",
        "type": "template",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rm \"{{{toDelete}}}\"",
        "output": "str",
        "x": 2360,
        "y": 680,
        "wires": [
            [
                "708406dc9f587925",
                "8ca69885c08aa2ed"
            ]
        ]
    },
    {
        "id": "708406dc9f587925",
        "type": "exec",
        "z": "b1e6237a0820933f",
        "d": true,
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 2510,
        "y": 680,
        "wires": [
            [
                "8ca69885c08aa2ed"
            ],
            [
                "8ca69885c08aa2ed"
            ],
            [
                "8ca69885c08aa2ed"
            ]
        ]
    },
    {
        "id": "79dadf16a4f23613",
        "type": "switch",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Put operation successful.",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2230,
        "y": 680,
        "wires": [
            [
                "5b48d2faa6e05b37"
            ]
        ]
    },
    {
        "id": "abc7961f0a20cf5e",
        "type": "inject",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "camName",
                "v": "miraflores",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://webcams.delcanal.com/hd-miraflores.jpg",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "miraflores",
        "x": 1180,
        "y": 460,
        "wires": [
            [
                "c0afcda634ac33f9"
            ]
        ]
    },
    {
        "id": "cc5e99df2d1d9ae8",
        "type": "inject",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "camName",
                "v": "pedro-miguel",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://webcams.delcanal.com/cerro-luisa00001.jpg",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pedro-miguel",
        "x": 1190,
        "y": 500,
        "wires": [
            [
                "c0afcda634ac33f9"
            ]
        ]
    },
    {
        "id": "f2efd49b491ab388",
        "type": "inject",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "camName",
                "v": "gatun",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://webcams.delcanal.com/gatun00009.jpg",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "gatun",
        "x": 1170,
        "y": 540,
        "wires": [
            [
                "c0afcda634ac33f9"
            ]
        ]
    },
    {
        "id": "58d6d0fedde17c04",
        "type": "inject",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "camName",
                "v": "cocoli",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://webcams.delcanal.com/cocoli00001.jpg",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "cocoli",
        "x": 1170,
        "y": 580,
        "wires": [
            [
                "c0afcda634ac33f9"
            ]
        ]
    },
    {
        "id": "b590288dccda5d44",
        "type": "inject",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "camName",
                "v": "agua-clara",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://webcams.delcanal.com/aguaclara00001.jpg",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "agua-clara",
        "x": 1190,
        "y": 620,
        "wires": [
            [
                "c0afcda634ac33f9"
            ]
        ]
    },
    {
        "id": "5d765964d3d2e51d",
        "type": "simpletime",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 1450,
        "y": 500,
        "wires": [
            [
                "bbdcfed686e4e04d"
            ]
        ]
    },
    {
        "id": "c4c8dd7eb1d08b53",
        "type": "template",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "local file name",
        "field": "toDelete",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "panama/{{camName}}/{{camName}}-timelapse-{{myepoch}}.mp4",
        "output": "str",
        "x": 1780,
        "y": 580,
        "wires": [
            [
                "0f34117ea3b819aa"
            ]
        ]
    },
    {
        "id": "5eb25e3d64437551",
        "type": "inject",
        "z": "b1e6237a0820933f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "toDelete",
                "v": "panama/miraflores/miraflores-timelapse-1676855813739.mp4",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 2080,
        "y": 840,
        "wires": [
            [
                "5b48d2faa6e05b37"
            ]
        ]
    }
]